@font-face {
    font-family: "CircularStd";
    src: url("../assets/fonts/CircularStd.otf") format("opentype");
}

html {
    box-sizing: border-box;
    font-family: 'CircularStd';
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 12px;
    background-color: #000;
    color: #FFFFFF;
    
}

p, h1, h2, h3 { 
    margin: 0;
}

/* About */
.page-container {
    width: 100%;
    align-items: center;
}

.project-container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.project-about {
    padding: 300px 60px;
}

.project-about h1 {
    color: #FFF;
    font-size: 4rem;
}

.project-about h2 {
    color: #a8a8a8;
}

.marquee {
    width: 35vh;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px;
    float: left;
  }
  .marquee span {
    display: inline-block;
    padding-left: 0%;
    animation: marquee 15s linear infinite;
    
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    40% {
        transform: translateX(0%);
    }
    70% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
    
  }

.player-container {
  width: 50vh;
  height: 100%;
  transition: 0.3s;
}

.player-container:hover {
    background: black;
}

.player-topData {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    text-align: center;
    align-items: center;
    padding: 0px 20px;
}

.player-textTop {
    font-size: 0.7rem;
}

.player-textTop p {
    text-transform: uppercase;
    font-size: 0.7rem;
    line-height: 1rem;
}

.player-backButton img {
    width: 20px;
    cursor: pointer;
}

.player-aboutButton img {
    width: 20px;
    cursor: pointer;
}

.player-albumPortrait {
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.player-albumPortrait img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*
    Song data
*/

.song-mainData {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-title {
    font-size: 1.5rem;
    padding: 0px 20px;
    margin-bottom: 2px;
    line-height: 1rem;
}

.song-artist {
    font-size: 1.3rem;
    padding: 0px 20px;
    color: #e6e6e6;
}

.song-favorite {
    padding: 0px 20px;
}

.song-favorite img {
    width: 32px;
    cursor: pointer;
}

/* Progress */
.player-progress {
    margin-left: 20px;
    margin-right: 20px;
}

.song-trackbar {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    width: 100%;
    margin-top: 40px;
    cursor: pointer;
    height: 0.5rem;
}

.song-currentProgress {
    background: #FFF;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
    
}

.song-durationWrapper {
    position: relative;
    bottom: -15px;
    display: flex;
    justify-content: space-between;
}

/*
    Controls
*/
.player-controls {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-bottom: 40px;
}

.player-controls img {
    width: 25px;
    cursor: pointer;
}

.song-mainTrack img {
    width: 70px;
}

/*
    Misc
*/
.player-misc {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.player-misc img {
    width: 20px;
}

.player-miscButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}