@font-face {
    font-family: "CircularStd";
    src: url("../assets/fonts/CircularStd.otf") format("opentype");
}

html {
    box-sizing: border-box;
    font-family: 'CircularStd';
    max-height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 12px;
    background-color: #000;
    color: #FFFFFF;
    
}

p, h1, h2, h3 { 
    margin: 0;
}

/* About */
.page-container {
    width: 100%;
    height: 100vh;
    align-items: center;
}

.project-container {
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.project-menu {
    padding: 80px 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.project-menu li {
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.project-menu li:hover {
    color: #1dd05d;
}

.project-menuline {
    top: -80px;
    left: 20px;
    position: relative;
    width: 500px;
    height: 4px;
    border-radius: 5px;
    background: #1dd05d;
    box-shadow: 0px 0px 15px -3px rgba(29,208,93,0.5);
}

.project-about {
    padding: 10px 60px;
    height: 28rem;
}

.project-about h1 {
    color: #FFF;
    font-size: 4rem;
}

.project-about h2 {
    color: #a8a8a8;
    margin-bottom: 40px;
}

.project-about p {
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.project-github {
    width: 15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-size: 1.5rem;
    border: 1px solid #FFF;
    padding: 15px 10px;
    color: #FFFF;
    border-radius: 4px;
    transition: 0.3s smooth;
    text-decoration: solid;
    margin-bottom: 120px;
}

.project-github p {
    text-decoration: none;
}

.project-github:hover {
    background: #1dd05d;
    transition: 0.3s smooth;
    cursor: pointer;
}

.project-credits {
    padding: 10px 60px;
    height: 28rem;
    display: none;
}

.project-credits h1 {
    color: #FFF;
    font-size: 4rem;
}

.project-credits h2 {
    color: #a8a8a8;
    margin-bottom: 40px;
}

.project-credits p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.marquee {
    width: 32vh;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px;
    float: left;
  }
  .marquee span {
    display: inline-block;
    padding-left: 0%;
    animation: marquee 15s linear infinite;
    
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    40% {
        transform: translateX(0%);
    }
    70% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
    
  }

.player-container {
  width: 45vh;
  
  transition: 0.3s;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px -3px rgba(252, 252, 252, 0.2);
}

.player-container:hover {
    background: black;
}

.player-topData {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    text-align: center;
    align-items: center;
    padding: 0px 20px;
}

.player-textTop {
    font-size: 0.7rem;
}

.player-textTop p {
    text-transform: uppercase;
    font-size: 0.7rem;
    line-height: 1rem;
}

.player-backButton img {
    width: 20px;
    cursor: pointer;
}

.player-aboutButton img {
    width: 20px;
    cursor: pointer;
}

.player-albumPortrait {
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.player-albumPortrait img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*
    Song data
*/

.song-mainData {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-title {
    font-size: 1.5rem;
    padding: 0px 20px;
    margin-bottom: 2px;
    line-height: 1rem;
}

.song-artist {
    font-size: 1.3rem;
    padding: 0px 20px;
    color: #e6e6e6;
}

.song-favorite {
    padding: 0px 20px;
}

.song-favorite img {
    width: 32px;
    cursor: pointer;
}

/* Progress */
.player-progress {
    margin-left: 20px;
    margin-right: 20px;
}

.song-trackbar {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    width: 100%;
    margin-top: 40px;
    cursor: pointer;
    height: 0.5rem;
}

.song-currentProgress {
    background: #FFF;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
    
}

.song-durationWrapper {
    position: relative;
    bottom: -15px;
    display: flex;
    justify-content: space-between;
}

/*
    Controls
*/
.player-controls {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-bottom: 40px;
}

.player-controls img {
    width: 25px;
    cursor: pointer;
}

.song-mainTrack img {
    width: 70px;
}

/*
    Misc
*/
.player-misc {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.player-misc img {
    width: 20px;
}

.player-miscButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}